.chartWrapper {
    min-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.chartContainer {

    display: flex;
    align-items: center;
    justify-content: center;
    place-content: center;
}