.container {
    box-sizing: border-box;
    justify-content: center;
    margin-block: 10px 20px;
}
.itemContainer {
    border-radius: 5px;
    min-height: 75px;
    padding-inline: 20px;
    padding-block: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading {
    margin-bottom: 5px;
}