.lastPlayedTournamentsItem {
    height: 100%;
    position: relative;
    padding: 0px 8.5px 0px 8.5px;
    border-radius: 5px;
    width: 270px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.1s linear;
}
.lastPlayedTournamentsItem:hover {
    transform: scale(1.02);
}

.lastPlayedTournamentsItem:active {
    transform: scale(0.95);
    opacity: 0.5;
}


.lastPlayedItemLabel {
    position: absolute;
    top: 7.5%;
    padding-inline: 7.5px;
    right: 3%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.tableRow {
    display: flex;
    align-items: center;
}

.tableRow > svg {
    width: 13px;
    height: 13px;
margin-right: 5px;
}

.tableRow > img {
    width: 13px;
    height: auto;
margin-right: 5px;
}