.container {
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: center;
    position: fixed;
    width: 100%;
    background-color: rgba(18, 20, 22, 0.2);
    z-index: 1000;
    backdrop-filter: blur(25px);

    box-shadow: -1px 8px 17px -2px rgba(0,0,0,0.19);
    -webkit-box-shadow: -1px 8px 17px -2px rgba(0,0,0,0.19);
    -moz-box-shadow: -1px 8px 17px -2px rgba(0,0,0,0.19);
}

.logo {
    
}

.logoLogin {
    outline: 1px solid var(--joy-palette-primary-700, #12467B);
    width: 27.5px;
    height: 27.5px;
    border-radius: 5px;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}


.logoLogin > svg {
    color: var(--joy-palette-neutral-400, #9FA6AD);
    width: 15px;
    height: 15px;
}

.logoLogin:active {
    background-color: red
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 5px;
}

.linkBox {
    display: flex;
    gap: 10px;
}

.link {
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-left: 5px;
}


.link:nth-last-child() {
    border-radius: 5px;
    margin-inline-end: 5px;
}


.wrapper {
    max-width: 1480px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}