.container {
    border: 0.5px solid rgba(255,255,255,0.4);
    background: #121416;
    padding-inline-start: 20px;
    padding-block: 10px;
    width: 100%;
    border-radius: 5px;
}

.heading {
    display: flex;
    gap: 5px;
    align-items: center;
}

.heading > svg {
    color: var(--joy-palette-text-tertiary, var(--joy-palette-neutral-600, #555E68))
} 
