.container {
    border: 0.5px solid rgba(var(--joy-palette-neutral-mainChannel, 99 107 116) / 0.3);
    background: #121416;
    padding-inline-start: 20px;
    padding-block: 10px;
    width: 100%;
    border-radius: 5px;
}



