.overviewRow {
    display: flex;
    gap: 5px;
    align-items: center;
    width: 200px;
}

.row {
    padding-left: 20px;
    padding-block: 5px;
    outline: 1px solid rgba(255,255,255,0.2);
    border-radius: 5px;
    margin-bottom: 10px;
}

.overviewInformation {
    display: flex;
    align-items: center;
    gap: 5px;
}

.overviewInformation:nth-child(1) {
    color: rgba(255,255,255,0.4);
}

.logo {
   color: var(--joy-palette-text-tertiary, var(--joy-palette-neutral-600, #555E68))
}

.row:hover {
    background-color: var(--joy-palette-primary-800, #0A2744);
}

.container {
    display: flex;
}