.container {
    padding-inline-start: 20px;
    padding-block: 10px;
    width: 100%;
    border-radius: 5px;
    min-height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading {
    display: flex;
    gap: 5px;
    align-items: center;
}

.heading > svg {
    color: var(--joy-palette-text-tertiary, var(--joy-palette-neutral-600, #555E68))
} 
