.upcomingTournamentItem {
    height: 100%;
    position: relative;
    padding: 0px 8.5px 0px 8.5px;
    border-radius: 5px;
    width: 270px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.1s linear;
}

.noDataContainer {
    width: 100%;
    display: flex;
}