.upcomingTournamentItem {
    height: 75px;
    position: relative;
    padding: 5px 8.5px 0px 8.5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.05s linear;
}

.upcomingTournamentItem:hover {
    transform: scale(1.02);
}

.upcomingTournamentItem:active {
    transform: scale(0.98);
    opacity: 0.5;
}

.noDataContainer {
    width: 100%;
    display: flex;
}

.typoRow {
    display: flex;
    align-items: center;
    gap: 5px;
}

.typoRow > img {
    width: 13px;
    height: auto;
}

.typoRow > svg {
    width: 13px;
    height: auto;
}

.lastPlayedItemLabel {
    position: absolute;
    top: 7.5%;
    padding-inline: 7.5px;
    right: 3%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.container {
    width: 270px;
    height: 100px;
    display: flex;
    flex-direction: column;

}